<h1>Listing des commentaires</h1>

<table>
  <tr>
    <th>Contenu</th>
    <th>nom / pseudo</th>
    <th>Utilisateur</th>
  </tr>

<% for comment in @comments %>
  <tr>
    <td><%=h comment.content %></td>
    <td><%=h comment.byline %></td>
    <td><%=h comment.user %></td>
    <td><%= link_to 'Afficher', comment %></td>
    <td><%= link_to 'Modifier', edit_comment_path(comment) %></td>
    <td><%= link_to 'Supprimer', comment, :confirm => 'Etes-vous sûr de vouloir le supprimer ?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouveau commentaire', new_comment_path %>
