<h1>Nouveau commentaire</h1>

<%= error_messages_for :comment %>

<% form_for(@comment) do |f| %>
  <p>
    <b>Contenu</b><br />
    <%= f.text_area :content %>
  </p>

  <p>
    <b>Nom / Pseudo</b><br />
    <%= f.text_field :byline %>
  </p>

  <p>
    <%= f.submit "Créer" %>
  </p>
<% end %>

<%= link_to 'Retour', comments_path %>
