<h2>Rejoignez Rubyflow.fr !</h2>

<%= error_messages_for :user %>

<p><em>Désolé, l'authentification par OpenID n'est pas encore disponible.</em></p>

<% form_for :user, :url => users_path do |f| -%>
<p><label for="login">Login (caractères alphanumériques et underscores uniquement, pas d'espaces)</label><br/>
<%= f.text_field :login %></p>

<p><small>Les logins sont sensibles à la casse, utilisez ceci à bon escient (exemples de logins valides : BobSmith Fred_Turner bert1974)</small></p>

<p><label for="url">URL / Votre site Web (en commençant par http://)</label><br/>
<%= f.text_field :url %></p>

<p><small>Cette URL sera lié à votre login à plusieurs endroits sur le site.</small></p>

<p><label for="password">Mot de passe</label><br/>
<%= f.password_field :password %></p>

<p><label for="password_confirmation">Confirmer le mot de passe</label><br/>
<%= f.password_field :password_confirmation %></p>

<%= render :partial => 'home/signup_captcha' %>

<p><%= submit_tag 'Créer le compte' %></p>
<% end -%>
