<div class="post">
	<p class="entry"><%= safe(item.content) %></p>
  <!-- p>Tags: <% item.tag_array.each do |tag| %><%= link_to tag, tag_url(tag) %> <% end %></p -->
	<p class="metadata">Posté par <%= item.user ? %Q{<a href="#{item.user.url}" #{"rel=\"nofollow\"" unless item.user.approved_for_feed == 1}>#{item.user.login}</a>} : item.byline %> à <%= item.created_at.strftime("%R") %> - <a href="<%= url_for item_url(item) %>"><%= pluralize item.comments.size, 'commentaire' %></a> <%= link_to 'Modifier', edit_item_path(item) if admin? %> <%= link_to 'Supprimer', item, :confirm => 'Etes-vous sur de vouloir supprimer cet item ?', :method => :delete if admin? %></p>
</div>

