<h1>Modifier un item</h1>

<%= error_messages_for :item %>

<% form_for(@item) do |f| %>
  <p>
    <b>Titre</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Url</b><br />
    <%= f.text_field :url %>
  </p>

  <p>
    <b>Contenu</b><br />
    <%= f.text_area :content %>
  </p>

  <p>
    <b>Tags</b><br />
    <%= f.text_field :tags %>
  </p>

  <p>
    <%= f.submit "Mettre à jour" %>
  </p>
<% end %>

<%= link_to 'Afficher', @item %> |
<%= link_to 'Retour', items_path %>
