<div class="post">
    <h2><%=h @item.title %></h2>
	<h3 class="date"><%= @item.created_at.strftime("%d %B %Y") %></h3>
	<p class="entry"><%= safe(@item.content) %></p>
	<p class="metadata">Posté par <%= @item.user ? %Q{<a href="#{@item.user.url}">#{@item.user.login}</a>} : @item.byline %> à <%= @item.created_at.strftime("%R") %> - <a href="<%= url_for item_url(@item) %>"><%= pluralize @item.comments.size, 'commentaire' %></a> <%= link_to 'Modifier', edit_item_path(@item) if admin? %> <%= link_to 'Supprimer', @item, :confirm => 'Etes-vous sûr de vouloir supprimer cet item ?', :method => :delete if admin? %></p>
</div>

<div id="comments">
  <% @item.comments.each do |comment| %>
    <blockquote class="comment"><span class="a">&#147;</span><span class="b">&#148;</span><%= safe(comment.content) %><cite><%= comment.user ? %Q{<a href="#{comment.user.url}">#{comment.user.login}</a>} : comment.byline %> - <%= comment.created_at.strftime("%d %B %Y %R") %></cite></blockquote>
  <% end %>
  
  <blockquote class="comment">
    <span class="a">&#147;</span><span class="b">&#148;</span>
    
    <% form_for(@comment) do |f| %>
      <input type="hidden" name="item_id" value="<%= @item.id %>" />
      
    <h3>Poster un commentaire</h3>

    <% if @comment.errors.size > 0 %>
      <p class="message">Erreur ! Votre commentaire est trop long ou trop court.</p>
    <% end %>

      
	  <% if logged_in? %>
      <p>Poster en tant que <strong><%= current_user.login %></strong></p>
	  <% else %>
	    <p><em>Note : si vous êtes un utilisateur enregistré, <%= link_to 'veuillez vous logger', login_url %> pour remplir ces champs.</em></p>
      <p><%= f.text_field :byline %>
      <label for="author"><small>Votre nom / pseudo (obligatoire)</small></label></p>
	  <% end %>
	  <p style="font-size: 13px; background-color: #ffc; padding: 4px 16px; border-left: 3px solid #999; font-family: verdana; line-height: 15px; letter-spacing: 0px"><strong>Si vous le souhaitez, vous pouvez utiliser les balises HTML suivantes : </strong><br /><code>&lt;a href=&quot;&quot; title=&quot;&quot;&gt; &lt;b&gt; &lt;blockquote&gt; &lt;code&gt; &lt;em&gt; &lt;i&gt; &lt;strong&gt;</code></small></p>
	  <p><%= f.text_area :content %></p>
	  <%= render :partial => 'home/signup_captcha' unless logged_in? %>
    <p><%= f.submit "Poster" %></p>
	  <% end %>
    
	</blockquote>
  
</div>
