<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	  <title><%= title %></title>
      <link rel="icon" type="image/png" href="/favicon.png" />
	  <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
	  <meta name="robots" content="index, follow" />
    <% if @front_page %> <meta name="description" content="<%= APP_CONFIG[:sub_title] %>" />
     <meta name="keywords" content="<%= APP_CONFIG[:meta_keywords] %>" /> <% end %>
	  <meta name="author" content="<%= APP_CONFIG[:meta_author] %>" />
	  <% if @noindex %><meta name="robots" content="noindex, nofollow" /><% end -%>
	  <link rel="alternate" type="application/rss+xml" title="<%= APP_CONFIG[:app_title] %>" href="<%= APP_CONFIG[:rss_url] %>" />	    
		<%= stylesheet_link_tag "main" %>
	</head>

	<body class="<%= @body_class %> <%= APP_CONFIG[:body_class] %>">
	
  	<div id="header">
  		<h1><a href="/" class="home"><%= APP_CONFIG[:app_title] %></a></h1>
  		<div id="stuff">
          <%= link_to 'Accueil', root_url %> |
          <a href="<%= APP_CONFIG[:rss_url] %>">Fil RSS</a> | 
  		  <%= link_to 'Poster un item', new_item_path, :class => 'rubyred' %> |
  		  <% if logged_in? %>
  		    <%= link_to 'Se délogger', logout_url %>
  		  <% else %>
            <%= link_to 'Créer un compte', signup_url %> |
            <%= link_to 'Se logger', login_url %>
  			<% end %>
  		</div>
  	</div>
  	
  	<div id="page">
  		<div id="content">
      <% if flash[:notice] %><p class="message"><%= flash[:notice] %></p><% end %>
	    <%= yield %>
		  </div>
		  
		  <div id="sidebar">
				<%= APP_CONFIG[:sidebar] %>
			</div><!-- sidebar -->
			
			<div class="float"></div><div class="floatcontainer"><div class="float"></div></div>
			
		</div>
	</body>
</html>
